body{
    height: 100vh;
}

.container{
    width: 100%;
    max-width: inherit;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela p{
    font-weight: 900;
}

.tabela table{
    width: 100%;
}

.tabela table {
    border: 1px solid #b22c2c;
}

.tabela td {
    border: 1px solid #b22c2c;
}

.tabela th{
    border: 1px solid #b22c2c;
    text-align: center;
}

.list-group{
    position: absolute;
    z-index: 1000;
    top: 100%;
    overflow-y: auto;
    max-height: 300px;
}

.list-group::-webkit-scrollbar{
    width: 1px; 
    height: 1px;
}