<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <title>Home Page</title>
</head>
<body>
    <!-- Navbar e formulário já existentes -->
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rockefeller</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Map <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token  %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="address" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <p id="demo"></p>
    <div class="container">
        <div class="row mt-4">
            <div id="map" class="col-md-10 offset-md-1" style="height: 500px;"></div>
        </div>
    </div>
        <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script>
        
    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    <script>
        // Inicializa o mapa com valores padrão
        const x = document.getElementById("demo");
        let cord

        function getLocation() {
            return new Promise((resolve, reject) => {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(resolve, reject);  // Resolve a Promise com os dados de posição
                } else {
                    reject("Geolocation is not supported by this browser.");  // Rejeita a Promise se geolocalização não for suportada
                }
            });
        }

        function showPosition(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            return {latitude, longitude};
        }
        document.addEventListener("DOMContentLoaded", async ()=>{
            try {
                const position = await getLocation();  // Aguarda a Promise da geolocalização ser resolvida
                console.log(position)
                cord = showPosition(position);  // Chama a função showPosition

                var map = L.map('map').setView([cord.latitude, cord.longitude], 16);
    
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '© OpenStreetMap'
                }).addTo(map);
            
                // Adiciona um marcador inicial
                var marker = L.marker([cord.latitude, cord.longitude], { draggable: true }).addTo(map).openPopup();

                function getAddressFromCoordinates(lat, lng) {
                    fetch(`https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`)
                        .then(response => response.json())
                        .then(data => {
                            if (data && data.display_name) {
                                const address = data.address["road"] || "Endereço não encontrado";
                                marker.bindPopup(address).openPopup(); // Atualiza o popup com o nome da rua
                            }
                        })
                        .catch(error => console.error('Erro ao obter o endereço:', error));
                }

                // Obtém o endereço inicial e atualiza o popup do marcador
                getAddressFromCoordinates(cord.latitude, cord.longitude);
            
                // Função para atualizar o mapa com novos dados
                function updateMap(lat, lng, zoom, location) {
                    map.setView([lat, lng], zoom);
                    marker.setLatLng([lat, lng]).bindPopup(location).openPopup();
                }
            
                // Evento para quando o marcador for arrastado
                marker.on('dragend', function(event) {
                    var position = marker.getLatLng();
                    marker.setLatLng([position['lat'], position['lng']]); // Atualiza a posição do marcador
                    getAddressFromCoordinates(position['lat'], position['lng']); // Obtém o endereço
                });
            
                // Lida com a submissão do formulário via AJAX
                document.querySelector('form').addEventListener('submit', function(e) {
                    e.preventDefault();  // Impede o comportamento padrão do formulário
            
                    var formData = new FormData(this);
            
                    fetch('', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': formData.get('csrfmiddlewaretoken')  // Inclui o CSRF token
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Atualiza o mapa com os dados recebidos da view
                        updateMap(data.lat, data.lng, data.zoom, data.location);
                    })
                    .catch(error => console.error('Erro:', error));
                })
            } catch (error) {
                console.error("Erro ao obter geolocalização:", error);  // Lida com erros, se houver
            }
        })
    </script>
</body>
</html>
